body
{
    background-color: black;
}
.clock
{
    width: 537px;
    margin: 0 auto;
    margin-top: 260px;
}
.number
{
    position: relative;
    width: 70px;
}
.number:nth-child(2)
{
    margin-left: 75px;
}
.number:nth-child(4)
{
    margin-left: 200px;
}
.number:nth-child(5)
{
    margin-left: 275px;
}
.number:nth-child(7)
{
    margin-left: 391px;
}
.number:nth-child(8)
{
    margin-left: 468px;
}
.light
{
    background-color:#131415;
    position: absolute;
    border-radius: 2px;
}
.light:nth-child(1)
{
    height: 5px;
    width: 56px;
    left: 7px;
}
.light:nth-child(2)
{
    height: 60px;
    width: 5px;
    right: 0px;
    top: 2px;
}
.light:nth-child(3)
{
    height: 60px;
    right: 0px;
    width: 5px;
    top: 65px;
}
.light:nth-child(4)
{
    height: 5px;
    width: 56px;
    top: 123px;
    left: 7px;
}
.light:nth-child(5)
{
    height: 60px;
    left: 0px;
    width: 5px;
    top: 65px;
}
.light:nth-child(6)
{
    height: 60px;
    width: 5px;
    left: 0px;
    top: 2px;
}
.light:nth-child(7)
{
    height: 5px;
    width: 56px;
    top: 60px;
    left: 7px;
}
.dots
{
    position: relative;
    width: 7px;
    margin-left: 170px;
}
.dots2
{
    margin-left: 365px;
}
.dot
{
    width: 7px;
    height: 7px;
    background-color: crimson;
    position: absolute;
    top: 83px;
}
.dot:nth-child(2)
{
    top: 35px;
}
.week-days
{
    color: #131415;
    position: absolute;
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
}
.week-days span
{
    padding-right: 42px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 40%;
    text-transform: uppercase;
}
.on
{
    background-color: cornflowerblue;
}
.today
{
    font-weight: bold;
    color: cornflowerblue;
}